{% extends 'base.html' %}
{% block title %}
  Cardio Page
{% endblock %}

{% block content %}
<div class="col-12 mb-4">
    <div class="card bg-yellow-alt shadow-sm">
        <canvas id="myChart"></canvas>
        <script>
            var canvasElement = document.getElementById("myChart");

            var config = {
                type: "bar",
                data: {
                    labels: {{ labels_cardio | safe }},
                    datasets: [
                    {
                        label: "Runs (mi)",
                        data: {{ values_cardio | safe }},
                        backgroundColor: {{ backgroundColors | safe }},
                        borderColor: {{ borderColors | safe }},
                        borderWidth: 1,
                    }],
                }
            };

            var runsChart = new Chart(canvasElement, config);
        </script>
    </div>
</div>
{% endblock %}