{% extends 'base.html' %}
{% block title %}
    Dashboard Page
{% endblock %}

{% block content %}

<main role="main">

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h1">Dashboard</h1>
	</div>

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2 class="h2">Weight</h1>
	</div>

	<canvas class="my-4 w-100" id="weightChart"></canvas>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Strength</h1>
    </div>

    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <canvas class="my-4 w-100" id="deadChart"></canvas>
            </div>
            <div class="col">
                <canvas class="my-4 w-100" id="squatChart"></canvas>
            </div>
            <div class="col">
                <canvas class="my-4 w-100" id="benchChart"></canvas>
            </div>
            <div class="col">
                <canvas class="my-4 w-100" id="pullupChart"></canvas>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Cardio</h2>
    </div>

    <canvas id="milesChart"></canvas>

    <script>
        const fillChart = false;

        // weightChart

        const config_weight = {
            type: "line",
            data: {
                labels: {{ dates_list | safe}},
                datasets: [
                    {
                        label: "Weight",
                        data: {{ weights_list | safe }},
                        fill: fillChart,
                        borderColor: 'rgb(54, 162, 235, 1)',
                        backgroundColor: "rgb(105, 105, 105)",
                        lineTension: 0.5
                    },
                ]
            },
            options: {
                responsive: true
            }
        }
        const ctx_weight = document.getElementById("weightChart").getContext("2d");
        const linechart_weight = new Chart(
            ctx_weight, config_weight
        )

        // strength charts

        const config_dead = {
            type: "line",
            data: {
                labels: {{ deadlift_dates_ev | safe}},
                datasets: [
                    {
                        label: "Deadlift - Exercise Volume",
                        data: {{ deadlift_ev | safe }},
                        fill: fillChart,
                        borderColor: 'rgb(54, 162, 235, 1)',
                        backgroundColor: "rgb(105, 105, 105)",
                        lineTension: 0.5
                    },
                ]
            },
            options: {
                responsive: true
            }
        }
        const ctx_dead = document.getElementById("deadChart").getContext("2d");
        const linechart_dead = new Chart(
            ctx_dead, config_dead
        )

        const config_squat = {
            type: "line",
            data: {
                labels: {{ backsquat_dates_ev | safe}},
                datasets: [
                    {
                        label: "Back Squat - Exercise Volume",
                        data: {{ backsquat_ev | safe }},
                        fill: fillChart,
                        borderColor: 'rgb(54, 162, 235, 1)',
                        backgroundColor: "rgb(105, 105, 105)",
                        lineTension: 0.5
                    },
                ]
            },
            options: {
                responsive: true
            }
        }
        const ctx_squat = document.getElementById("squatChart").getContext("2d");
        const linechart_squat = new Chart(
            ctx_squat, config_squat
        )


        const config_bench = {
            type: "line",
            data: {
                labels: {{ bench_dates_ev | safe}},
                datasets: [
                    {
                        label: "Bench Press - Exercise Volume",
                        data: {{ barbell_bench_ev | safe }},
                        fill: fillChart,
                        borderColor: 'rgb(54, 162, 235, 1)',
                        backgroundColor: "rgb(105, 105, 105)",
                        lineTension: 0.5
                    },
                ]
            },
            options: {
                responsive: true
            }
        }
        const ctx_bench = document.getElementById("benchChart").getContext("2d");
        const linechart_bench = new Chart(
            ctx_bench, config_bench
        )

        const config_pullup = {
            type: "line",
            data: {
                labels: {{ pullup_dates_ev | safe}},
                datasets: [
                    {
                        label: "Pullups - Reps",
                        data: {{ pullup_ev | safe }},
                        fill: fillChart,
                        borderColor: 'rgb(54, 162, 235, 1)',
                        backgroundColor: "rgb(105, 105, 105)",
                        lineTension: 0.5
                    },
                ]
            },
            options: {
                responsive: true
            }
        }
        const ctx_pullup = document.getElementById("pullupChart").getContext("2d");
        const linechart_pullup = new Chart(
            ctx_pullup, config_pullup
        )

        

        // milesChart

        const config_miles = {
            type: "line",
            data: {
                labels: {{ mile_dates_list | safe}},
                datasets: [
                    {
                        label: "Mile Times",
                        data: {{ mile_times_list | safe }},
                        fill: fillChart,
                        borderColor: 'rgb(54, 162, 235, 1)',
                        backgroundColor: "rgb(105, 105, 105)",
                        lineTension: 0.5
                    },
                ]
            },
            options: {
                responsive: true
            }
        }
        const ctx_miles = document.getElementById("milesChart").getContext("2d");
        const linechart_miles = new Chart(
            ctx_miles, config_miles
        )

        


    </script>

</main>

{% endblock %}