{% extends 'base.html' %}
{% block title %}
  Dashboard Page
{% endblock %}

{% block content %}
<main role="main">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h1">Dashboard</h1>

	</div>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2 class="h2">Weight</h1>

	</div>
	<canvas class="my-4 w-100" id="weightChart" width="900" height="380"></canvas>
		<script>
			var config = {
				type: "line",
				data: {
					labels: {{ labels_weight | safe }},
					datasets: [
						{
							label: "Weight",
							data: {{ values_weight | safe }},
							fill: true,
							borderColor: 'rgb(54, 162, 235, 1)',
							backgroundColor: "rgb(105, 105, 105)",
							lineTension: 0.5
						},
					]
				},
				options: {
					responsive: true
				}
			}
			var ctx = document.getElementById("weightChart").getContext("2d");
			var linechart = new Chart(
				ctx, config
			)
		</script>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2 class="h2">Strength</h1>

	</div>
	<canvas class="my-4 w-100" id="strengthChart" width="900" height="380"></canvas>
	<script>
		var config = {
			type: "line",
			data: {
				labels: {{ labels_strength | safe }},
				datasets: [
					{
						label: "Total Volume (reps x weight)",
						data: {{ values_strength | safe }},
						fill: true,
						borderColor: 'rgb(54, 162, 235, 1)',
						backgroundColor: "rgb(105, 105, 105)",
						lineTension: 0.5
					},
				]
			},
			options: {
				responsive: true
			}
		}
		var ctx = document.getElementById("strengthChart").getContext("2d");
		var linechart = new Chart(
			ctx, config
		)
	</script>
	<div class="row">
		<div class="col-sm-6">
		  <div class="card">
			<div class="card-body">
			  <h5 class="card-title">Deadlift</h5>
			  <p class="card-text">Current 1RM</p>
			</div>
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="card">
			<div class="card-body">
			  <h5 class="card-title">Back Squat</h5>
			  <p class="card-text">Current 1RM</p>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <div class="card">
			<div class="card-body">
			  <h5 class="card-title">Barbell Bench Press</h5>
			  <p class="card-text">Current 1RM</p>
			</div>
		  </div>
		</div>
		<div class="col-sm-6">
		  <div class="card">
			<div class="card-body">
			  <h5 class="card-title">Pull Ups</h5>
			  <p class="card-text">Current 1RM</p>
			</div>
		  </div>
		</div>
	  </div>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2 class="h2">Cardio</h1>

	</div>
	<canvas id="runsChart"></canvas>
	<script>
		var canvasElement = document.getElementById("runsChart");

		var config = {
			type: "bar",
			data: {
				labels: {{ labels_cardio | safe }},
				datasets: [
				{
					label: "Runs (mi)",
					data: {{ values_cardio | safe }},
					backgroundColor: {{ backgroundColors | safe }},
					borderColor: {{ borderColors | safe }},
					borderWidth: 1,
				}],
			}
		};

		var runsChart = new Chart(canvasElement, config);
	</script>
</main>    
{% endblock %}