{% extends 'base.html' %}
{% block title %}
  Strength Page
{% endblock %}

{% block content %}
<canvas id="strengthchart"></canvas>
<script>
    var config = {
        type: "line",
        data: {
            labels: {{ labels_strength | safe }},
            datasets: [
                {
                    label: "Total Volume",
                    data: {{ values_strength | safe }},
                    fill: true,
                    borderColor: "rgb(0, 163, 108)",
                    backgroundColor: "rgb(105, 105, 105)",
                    lineTension: 0.5
                },
            ]
        },
        options: {
            responsive: true
        }
    }
    var ctx = document.getElementById("strengthchart").getContext("2d");
    var linechart = new Chart(
        ctx, config
    )
</script>
{% endblock %}