{% extends 'base.html' %}
{% block title %}
  Weight Page
{% endblock %}

{% block content %}

    <table cellpadding="30" width="100%">
        <tr>
            <td>
                <canvas id="linechart"></canvas>
                <script>
                    var config = {
                        type: "line",
                        data: {
                            labels: {{ labels | safe }},
                            datasets: [
                                {
                                    label: "Weight",
                                    data: {{ values | safe }},
                                    fill: false,
                                    borderColor: "rgb(0, 163, 108)",
                                    backgroundColor: "rgb(255, 255, 255)",
                                    lineTension: 0.5
                                },
                            ]
                        },
                        options: {
                            responsive: true
                        }
                    }
                    var ctx = document.getElementById("linechart").getContext("2d");
                    var linechart = new Chart(
                        ctx, config
                    )
                </script>
            </td>
            <td>
                <canvas id="linechart2"></canvas>
                <script>
                    var config2 = {
                        type: "line",
                        data: {
                            labels: {{ labels_ | safe }},
                            datasets: [
                                {
                                    label: "Total Volume",
                                    data: {{ values_ | safe }},
                                    fill: false,
                                    borderColor: "rgb(0, 163, 108)",
                                    backgroundColor: "rgb(255, 255, 255)",
                                    lineTension: 0.5
                                },
                            ]
                        },
                        options: {
                            responsive: true
                        }
                    }
                    var ctx2 = document.getElementById("linechart").getContext("2d");
                    var linechart2 = new Chart2(
                        ctx2, config2
                    )
                </script>
            </td>
            <!-- INSERT CHARTS.JS TABLE HERE -->
        </tr>

{% endblock %}